body{

    font-family: Arial, Helvetica, sans-serif;

    background:#f5f5f5;

    margin:0;

    padding:20px;

}

.contenedor{

    max-width:500px;

    margin:auto;

    background:white;

    padding:20px;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,.15);

}

h1{

    text-align:center;

}

#reader{

    width:100%;

    margin-top:20px;

}

.resultado{

    margin-top:25px;

    text-align:center;

}

#codigo{

    font-size:22px;

    color:#1565c0;

    font-weight:bold;

}